.profileContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #131313;
  border-radius: 10px;
  gap: 9px;
  margin-bottom: 10px;
}

.profileInfoBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profileInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.line {
  border-bottom: 1px solid #252525;
}

.name {
  font-size: 16px;
  margin-bottom: 5px;
  color: white;
}

.subscribers {
  font-size: 12px;
  color: #808080;
  margin-bottom: 6px;
}

.online {
  font-size: 14px;
  color: white;
  margin-left: 3px;
}

.redBadge {
  background-color: #eb0400;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 11.72px;
  text-align: center;
  color: white;
}

.purpleBadge {
  background-color: #9146ff;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 11.72px;
  text-align: center;
  color: white;
}
.greenBadge {
  background-color: #53fc19;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 11.72px;
  text-align: center;
  color: white;
}
.subscribedButton {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #282934;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  z-index: 100;
}
.subscribedButton img {
  margin-right: 10px;
}
.willSubscribeButton {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #007aff;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  line-height: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  z-index: 100;
}
