.back {
  width: 100%;
  height: 100vh;
  background-color: #131313;
}
.LiveStreamers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 60px;
  background-color: #131313;
  overflow-y: auto;
  overflow: scroll;
}

.searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 38px;
  background-color: #292929;
  border-radius: 10px;
  padding: 0 10px;
}

.searchInput {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: transparent;
  color: #808080;
  padding-left: 10px;
}

.searchInput::placeholder {
  color: #808080;
}

.searchContainer img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.StreamersListHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.StreamersListHeader span {
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
}
.StreamerText {
  color: #ffffff;
}
.StreamersListHeader img {
  width: 20px;
  height: 18px;
}

.loader {
  border: 8px solid #808080; /* Light gray */
  border-top: 4px solid #007aff; /* Blue color for the loader */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto; /* Centers the loader horizontally */
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader_container {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.endBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
  margin-bottom: 19px;
  width: 100%;
}

.v_text {
  display: inline-block;
  text-align: center;
  white-space: pre-wrap;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: center;
  color: #8a8a8e;
}
