.menu {
  display: flex;
  overflow-x: hidden;
  width: 100%;
}
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1C1C1C;
  height: 78px;
}
