.back {
  width: 100%;
  overflow: scroll;
  height: 100vh;
  background-color: #131313;
}
.StreamerProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  padding-bottom: 120px;
}
.actionButtonSub {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  border-radius: 14px;
  width: 100%;
  background-color: #007aff;
}
.sub_text {
  font-size: 16px;
  color: white;
  line-height: 18px;
  font-weight: bold;
}

.streamer_stats {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 8px;
}
.streamer_subs {
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 57px;
  gap: 6px;
  border-radius: 13px;
}
.streamer_number {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: center;
  color: #ffffff;
}
.streamer_last_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #8a8a8e;

  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: center;
}
.streamer_refs {
  width: 40%;
  height: 57px;

  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  border-radius: 13px;
}
.streamer_more {
  height: 57px;
  width: 100%;
  display: flex;
  background-color: #292929;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 13px;
  gap: 7px;
}
.more {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #8a8a8e;
}

.online_streamers {
  margin-top: 30px;
}

.online_stream_title {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: white;
  margin-bottom: 20px;
}

.RaffleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.RaffleDiv_title {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: white;
}
.RaffleDiv_numberOf {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
  color: #3e88f7;
}

.actionButtonSub1 {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  border-radius: 14px;
  width: 100%;
  background-color: #ff4f4d;
}
.sub_a_text {
  font-size: 16px;
  color: black;
  line-height: 18px;
  font-weight: bold;
}

.container {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 57px;
  background-color: #292929;
  border-radius: 13px;
}

.menu {
  position: absolute;
  top: 100%; /* Меню будет появляться над кнопкой */
  right: 0; /* Меню будет выравниваться по правой стороне кнопки */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
  width: 210px;
}

.menu a {
  display: block;
  color: black;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.flex_item {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d0d1d4;
  gap: 60px;
}
.flex_item:last-child {
  border-bottom: none;
}
.flex_item1 {
  width: 100%;
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid #d0d1d4;
}

.menu a:hover {
  background-color: #f0f0f0;
}

.unsubscribeButton {
  display: block;
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.img_block {
  height: 20px;
  width: 20px;
}

.unsub_text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ff3b30;
}

.NoneRaffle {
  background-color: #1c1c1c;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
}
.NoneDisplayBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NoneDisplayBlock1 {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.firstPar {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: white;
}
.secondPar {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: white;
}
