.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal_form {
  background-color: white;
  width: 80%;
  border-radius: 7px;
  max-height: 80%;
  padding: 10px;
}
