.slick-slide {
  padding: 0; /* Половина желаемого зазора, чтобы общая ширина оставалась правильной */
  box-sizing: border-box;
}

.slick-list {
  margin: 0 ; /* Отрицательный отступ для компенсации padding */
}
