.slick-slide {
  padding: 0 7.5px; /* Отступы между слайдами, настрой их по необходимости */
  box-sizing: border-box;
}

.slick-list {
  margin: 0 -7.5px; /* Отрицательный отступ для компенсации паддинга слайдов */
}
