.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.title {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.unsubscribeButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  background-color: #f44336;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 13px;
}

.cancelButton {
  width: 100%;
  background-color: #e0e0e0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 13px;
}

.unsubscribeButton:hover {
  background-color: #d32f2f;
}

.cancelButton:hover {
  background-color: #bdbdbd;
}
