.userProfile {
  height: 100vh;
  background-color: #efeff3;
}

.userProfile__headerLabel {
  font-size: 12px;
  font-weight: 400;
  margin-left: 20px;
  color: #6d6d71;
  text-transform: uppercase;
}

.userProfile__form {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 14px;
}
.detailsText {
  font-size: 12px;
  font-weight: 400;
  margin-left: 20px;
  color: #6d6d71;
}
